.card__container {
  width: 500px;

  display: flex;
  flex-direction: column;
}

.cars__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2.5rem 0;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 10px;
  margin: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  /* min-height: 250px; */
}

/* .card-body  {
  font-size: 13px;
  margin: 0 0 20px;
} */

.cbody__name {
  margin-bottom: 0.5rem;
}
