.card__container {
  /* height: 300px; */
  width: 500px;
  display: flex;
  flex-direction: column;
}

/* .img__container img {
  width: 100px;
  height: auto;
} */

.cars__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 300px;
  height: auto;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  /* min-height: 250px; */
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
