@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

.entry-container {
  background-size: cover;
  object-fit: fill;
  display: flex;
  flex-direction: row;
  height: calc(105vh - 80px);
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.main-quote {
  color: white;
}

.green-quote {
  color: rgb(150, 224, 12);
}

.main-quote,
.green-quote {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  .entry-container {
    flex-wrap: wrap;
    height: fit-content;
  }
  .q-Quotes {
    display: none !important;
  }
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}
