.ccard__r1 {
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.ccard__r1 p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ccard__container {
  padding: 1rem;
  max-width: 400px;
  /* min-width: 350px; */
}

.ccard__icon {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
