.footer-container {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  justify-content: space-evenly;
  background: rgb(150, 224, 12);
  color: white;
}

.socialmedia {
  width: 200px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.ft__1 {
  margin: 0.5rem 0.5rem;
}
.footer-logo {
  width: auto;
  height: 100%;
}

@media only screen and (max-width: 680px) {
  .footer-container {
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 0.8rem;
  }
}
